
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIER - @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="containerNew">

        <div class="row">
            <div class="col-md-12 text-center p-5">
                <img src="~/css/img/brand_logo.svg" />

            </div>

            <div class="col-md-12" style="background-color: #F2F5FA">

                @RenderBody()

            </div>

        </div>

    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2021 - POLARIS BALI
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


